﻿@model UPC.web.ViewModels.AddEditTrabajdorViewModel
@{
    ViewBag.Title = "Administrar Trabajador";
    ViewBag.Subtitle = "Agregar";
    ViewBag.Section = "Entidades";
}
<div class="box box-primary">    
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="@Url.Action("AddEditTrabajador")">
        <div class="box-body">
            
            <div class="form-group">
                <label>Usuario</label>
                @Html.TextBoxFor(x=>x.UsuarioId, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Nombre</label>
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Apellidos</label>
                @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Fecha</label>
                @Html.TextBoxFor(x => x.fecha_nacimiento, new { @class = "form-control",@type="date" })
            </div>
            <div class="form-group">
                <label>Local</label>
                @Html.DropDownListFor(x => x.LocalId, Model.Locales,"Selecciona Local",new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Categoria</label>
                @Html.DropDownListFor(x => x.CategoriaId, Model.Categorias, "Selecciona Categoria", new { @class = "form-control" })
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
</div>
