﻿
@model UPC.web.ViewModels.ListarTrabajadoresViewModel
@{
    ViewBag.Title = "Listar Administradores";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Trabajadores";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Esatdo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.ListAdministradores)
                        {
                            <tr>
                                <td>@usuario.usuarioID</td>
                                <td>@usuario.nombre</td>
                                <td>@usuario.apellidos</td>
                                <td>@usuario.fecha_Nacimiento</td>
                                @if (@usuario.estado != "INA")
                                {
                                    <td><span class="label label-success">@usuario.estado</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@usuario.estado</span></td>
                                }     
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->   
    </div>
</div>

